

  /* Modal Content */
  .modal-content {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 948px;
    top: 50%;
    height: 556px;
    border-radius: 10px;
    background-color: #fefefe;
    border: 1px solid #888;
    width: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.big_svg1 {
    width: 445px;
    height: 557px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 371px;
}

.different_text{
    text-decoration: none;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    color: #464D54;
}

.title{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #464D54;
}
.email{
    box-sizing: border-box;
    width: 360px;
    padding: 12px 16px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #C1CDD8;
    border-radius: 5px;
    outline: none;
}


.several_inputs:hover{
    border: 1px solid #6C757D;
    border-radius: 5px;
}

.several_inputs:focus{
    background: #FFFFFF;
    border: 1px solid #7F5AF0;
    box-shadow: 0px 0px 4px rgba(127, 90, 240, 0.56);
    border-radius: 5px;
    
}

.password {
    box-sizing: border-box;
    width: 360px;
    padding: 12px 34px 12px 16px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #C1CDD8;
    border-radius: 5px;
    outline: none;
}

::placeholder{
    position:absolute;
    font-family: 'Mulish';
    font-style: normal;
    margin-top: -3px;
    color: #BCC7D1;
    font-weight: 500;
    margin-left: 2px;
    font-size: 16px;
    line-height: 20px;
}

.clouse_eye_icon {
    position: absolute;
    top: 34px;
    left: 326px;
}

.input_container{    
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input_btn_container1 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 360px;
    margin: 114px 72px;
}

.input_btn_container2 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 74px 72px;
}

.form_group{
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 6px;
}
.form_input {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-decoration: none;
    width: 360px;
    height: 40px;
    color: #FFFFFF;
    padding: 12px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background: #7F5AF0;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s;
}

.btn:hover{
    background: #663FD7;
    border-radius: 5px;
    transition: .2s;
}

.nameInput {
    box-sizing: border-box;
    width: 360px;
    padding: 12px 16px;
    background: #FFFFFF;
    height: 40px;
    border: 1px solid #C1CDD8;
    border-radius: 5px;
    outline: none;
}

.user_terms {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #3F67CE;
    text-decoration-line: underline;
}

.click_check_box {
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #6C757D;
}

.close_modal {
    position: absolute;
    cursor: pointer;
    z-index: 2;
    left: 968px;
}

.form_btn{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.forgot_your_password {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #3F67CE;
}



.wrapper_sign_up{
    display: flex;
    align-items: center;
    gap: 5px;
    line-height: 20px;
    height: 20px;
}

.change_two_elements1 {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #6C757D;
  }
.change_two_elements2 {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #3F67CE;
  }



.banner_wrapper{
    width: 100%;
   
}

/*container*/

.container{
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

/* header => navigation_logo_wrapper */


/* dropdown_btn_wrapper */



/* wrapper_banner_wrapper */

.wrapper_banner_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 68px;
    background: #FBFCFD;
    border-top: 1px solid #DBE4EC;
    border-bottom: 1px solid #DBE4EC;
}

.wrapper_inside_history_back{
    display: flex;
    align-items: center;
    gap: 9px;
    height: 20px;
}
.Home_page{
    font-weight: 600;
    color: #98A4AE;
    font-size: 16px;
    text-decoration: none;
}
.teachers{
    font-weight: 600;
    font-size: 16px;
    color: #464D54;
}
.teachers1{
    color: #98A4AE;
}


.wrapper_go_back_navigation {
    display: flex;
    align-items: center;
    height: 48px;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 24px;
}
.wrapper_for_icons_share{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}



.icon-Profile-setting:before {
    content: "\e902";
    color: #6c757d;
  }

/* Profil */




/* a:is(:link, :active, :visited).active{
    color: #7F5AF0;
    border-left: 2px solid #7F5AF0;
} */




.studies_information{
    margin: 0;
}
.contacts{
    border: none;
}
.About_the_subject_wrapper{
    display: flex;
    flex-direction: column;
    width: 804px;
    background: #FFFFFF;
    border: 1px solid #DBE4EC;
    border-radius: 0px 0px 5px 5px;
}

.title_About_the_subject{
    border-bottom: 1px solid #DBE4EC;
    background: #FBFCFD;
    padding: 20px 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #464D54;
}
.form_inputs {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
    padding: 36px 30px;
}

.inputs{
    display: flex;
    gap: 24px;
}


.wrapper_for_input{
    display: flex;
    position: relative;
    gap: 8px;
    flex-direction: column;
}


.use_multiple_elements {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    color: #464D54;
}
.change_multiple_elements{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 360px;
    padding: 12px 16px;
    height: 40px;
    background: #FFFFFF;
    color: #6C757D;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid #C1CDD8;
    border-radius: 5px;
}


.change_multiple_elements:hover{
    border: 1px solid  #464D54;
}
.icon_down_input {
    position: absolute;
    top: 35px;
    left: 322px;
}
.change_multiple_elements:focus{
    border: 1px solid #7F5AF0;
    box-shadow: 0px 0px 4px rgba(127, 90, 240, 0.56);
}

.parentElement{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 18px;
}

.title {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #464D54;
}
.make_a_choice{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
    line-height: 23px;
    color: #464D54;
}

.wrapper_content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #FBFCFD;
}

.child1{
    display: flex;
    gap: 32px;
    padding:20px;
    box-sizing: border-box;
    background: #FBFCFD;
    border-radius: 5px;
}
.child2{
    display: flex;
    gap: 32px;
    padding: 30px 17px 20px;
    box-sizing: border-box;
    background: #FBFCFD;
    border-radius: 5px;
}
.wrapper_for_checkbox{
    display: flex;
    cursor: pointer;
    gap: 10px;
}
.wrapper_at_the_teachers_address{
    display: flex;
    gap: 40px;
    padding: 10px 30px 30px 30px;
    box-sizing: border-box;
}

.use_together{
    padding: 12px 16px;
    width: 175px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #C1CDD8;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
}

.use_together:hover{
    border: 1px solid  #464D54;
}


.use_together:focus{
    border: 1px solid #7F5AF0;
    box-shadow: 0px 0px 4px rgba(127, 90, 240, 0.56);
}



.btnNext:hover{
    background: #663FD7;
    transition: .2s;
}


.wrapper_banner{
    margin-top: 30px;
}
/* style checkBox */ 

.lable{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}
.checkbox{
    /* position: absolute;
    width: 0;
    height: 0; */
}

/* .icon_checkBox{
    position: relative;
    display: flex;
    border: 2px solid #616E7A;
    height: 16px;
    width: 16px;  
    border-radius: 3px;
} */
.hover{
    border: 2px solid #464D54;
}


.check_mark{
    display: none;
}

.myClose{
    display: none;
}

.myOpen{
    display: block;
}




/* radio */
.label{
    display: flex;
    align-items: center ;
}
.radio_input{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.fake{
    width: 16px;
    height: 16px;
    border: 1px solid   #616E7A;
    position: absolute;
    border-radius: 50%;
}

.radio_input:checked + .fake::before{
    content: "";
    width: 12px;
    height: 12px;
    background-color: #2CB67D;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
  
    transition: .2s;
    transform: translate(-50%, -50%);

}

.radio_input:checked + .fake{
    border:1px solid #2CB67D;
}

.text{
    cursor: pointer;
    margin-left: 26px;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #464D54;
}

/* footer */


/* hover change_icons_color */
