
/* modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

.close_modal_btn{
    display: flex;
    justify-content: flex-end;
}
  
.icon_close_modal {
    position: absolute;
    cursor: pointer;
    z-index: 2;
    left: 968px;
}


  /* Modal Content */
  .modal-content {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 948px;
    top: 50%;
    height: 556px;
    border-radius: 10px;
    background-color: #fefefe;
    border: 1px solid #888;
    width: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.big_svg1 {
    width: 445px;
    height: 557px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 371px;
}

.different_text{  
    text-decoration: none;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    color: #464D54;
}

.title {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #464D54;
}
.email{
    box-sizing: border-box;
    width: 360px;
    padding: 12px 16px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #C1CDD8;
    border-radius: 5px;
    outline: none;
}

.several_inputs:hover{
    border: 1px solid #6C757D;
    border-radius: 5px;
}

.several_inputs:focus{
    background: #FFFFFF;
    border: 1px solid #7F5AF0;
    box-shadow: 0px 0px 4px rgba(127, 90, 240, 0.56);
    border-radius: 5px;
    
}

.password {
    box-sizing: border-box;
    width: 360px;
    padding: 12px 34px 12px 16px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #C1CDD8;
    border-radius: 5px;
    outline: none;
}

::placeholder{
    position:absolute;
    margin-top: -3px;
    color: #BCC7D1;
    margin-left: 2px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Mulish';
    font-style: normal;
}

.clouse_eye_icon {
    position: absolute;
    top: 34px;
    left: 326px;
}

.input_container{    
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input_btn_container1 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 360px;
    margin: 114px 72px;
}

.input_btn_container2 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 74px 72px;
}

.form_group{
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 6px;
}
.form_input {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-decoration: none;
    width: 360px;
    height: 40px;
    color: #FFFFFF;
    padding: 12px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background: #7F5AF0;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s;
}


.btn:hover{
    background: #663FD7;
    border-radius: 5px;
    transition: .2s;
}

.nameInput {
    box-sizing: border-box;
    width: 360px;
    padding: 12px 16px;
    background: #FFFFFF;
    height: 40px;
    border: 1px solid #C1CDD8;
    border-radius: 5px;
    outline: none;
}

.user_terms {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #3F67CE;
    text-decoration-line: underline;
}

.click_check_box {
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #6C757D;
}

.close_modal {
    position: absolute;
    cursor: pointer;
    z-index: 2;
    left: 968px;
}

.form_btn{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.forgot_your_password {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #3F67CE;
}

.wrapper_sign_up{
    display: flex;
    align-items: center;
    gap: 5px;
    line-height: 20px;
    height: 20px;
}

.change_two_elements1 {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #6C757D;
  }
.change_two_elements2 {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #3F67CE;
  }




.banner_wrapper{
    width: 100%;
   
}

/*container*/

.container{
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

/* header => navigation_logo_wrapper */



/* dropdown_btn_wrapper */

.select {
    display: flex;
    align-items: center;
    gap: 6px;
    width: 79px;
    cursor: pointer;
    height: 40px;
    padding: 9px 16px;
    border: 1px solid #DBE4EC;
    border-radius: 5px;
    box-sizing: border-box;
}

.select:hover{
    border: 1px solid #6C757D;
    z-index: 1;
}
.selected{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #464D54;
}
.menu {
    position: absolute;
    margin-left: -17px;
    width: 79px;
    border: 1px solid #6C757D;
    border-radius: 5px;
    background: #FFFFFF;
    margin-bottom: -40px;
    z-index: 2;
    display: none;
    box-sizing: border-box;
}
.firstDropDownIcon{
    color: #6C757D;
}
.secondDropDownIcon {
    position: absolute;
    margin-left: 42px;
    margin-top: 7px;
    color: #6C757D;
}
.option{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #6C757D;
}
.option1 {
    cursor: pointer;
    padding: 9px 29px 10px 16px;
    height: 19px;
    border-bottom: 1px solid #6C757D;
}

.option2 {
    cursor: pointer;
    padding: 9px 10px 9px 17px;
}
.save_icon_btn {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 40px;
    border: 1px solid #DBE4EC;
    border-radius: 5px;
    box-sizing: border-box;
    width: 40px;
}

.save_btn{
    fill: #616E7A;
    width: 20px;
    height: 20px;
}


.btn_come_in {
    display: flex;
    align-items: center;
    padding: 11px 20px;
    background: #7F5AF0;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    transition: .2s;
    height: 40px;
    box-sizing: border-box;
  }

.btn_come_in:hover{
    background: #663FD7;
    border-radius: 5px;
    transition: .2s;
}
/* wrapper_banner_wrapper */

.wrapper_banner_wrapper_Contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 68px;
    background: #FBFCFD;
    border-top: 1px solid #DBE4EC;
}

.wrapper_inside_history_back{
    display: flex;
    align-items: center;
    gap: 9px;
    height: 20px;
}
.Home_page{
    font-weight: 600;
    color: #98A4AE;
    font-size: 16px;
    text-decoration: none;
}
.teachers{
    font-weight: 600;
    font-size: 16px;
    color: #464D54;
}


.wrapper_go_back_navigation {
    display: flex;
    align-items: center;
    height: 48px;
    justify-content: space-between;
    margin-top: 20px;
}
.wrapper_for_icons_share{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}
.contact{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;
    color: #464D54;
}

/* contact */
.wrapper_write_to_us{
    display: flex;
    position: relative;
    justify-content: flex-end;
    box-sizing: border-box;
}
.wrapper_for_contacts {
    display: flex;
    /* position: absolute; */
    align-items: center;
    justify-content: center;
    background: #F8FAFF;
    top: 192px;
    right: 620px;
    border-radius: 10px;
    padding: 80px;
    height: 249px;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 300px;
}
.number_email_social_network{
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.text_contacts {
    display: flex;  
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #464D54;
}

.several_contact{
    display: flex;
    width: 182px;
    gap: 10px;  
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #464D54;
}

.click_social_network{
    display: flex;
    justify-content: space-between;
    width: 148px;
}
.clickSocialNetwork{
    cursor: pointer;
}

.number_email{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

/* send_a_letter */
.wrapper_for_letter{
    width: 804px;
    border: 1px solid #DBE4EC;
    border-radius: 10px;
    background: #FFFFFF;
}
.container_send_a_letter{
    display: flex;
    flex-direction: column;
    margin: 100px 0 100px 333px;
    gap: 30px;
    width: 371px;
}


.send_a_letter{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.write_us{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    line-height: 30px;
    color: #464D54;
}
.message {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #464D54;
}
.textarea {
    padding: 12px 16px;
    background: #FFFFFF;
    border: 1px solid #E4EBF1;
    border-radius: 5px;
    outline: none;
    width: 360px;
    height: 138px;
    box-sizing: border-box;
    resize: none;
}
.textarea:hover{
    border: 1px solid #6C757D;
    border-radius: 5px;
}
.textarea:focus{
    background: #FFFFFF;
    border: 1px solid #7F5AF0;
    box-shadow: 0px 0px 4px rgba(127, 90, 240, 0.56);
    border-radius: 5px;
}
.writeLetter {
    padding: 12px 16px;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #C1CDD8;
    border-radius: 5px;
    width: 360px;
    box-sizing: border-box;
    height: 40px;
}

.writeLetter:hover{
    border: 1px solid #6C757D;
    border-radius: 5px;
}
.writeLetter:focus{
    background: #FFFFFF;
    border: 1px solid #7F5AF0;
    box-shadow: 0px 0px 4px rgba(127, 90, 240, 0.56);
    border-radius: 5px;
}
.wrapper_input{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.button_send_me_letter {
    display: flex;
    justify-content: center;
    text-decoration: none;
    background: #7F5AF0;
    height: 40px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    transition: .2s;
    padding: 10px 20px;
    box-sizing: border-box;
    width: 360px;
    font-family: 'Mulish';
    font-style: normal;
  }

.button_send_me_letter:hover{
    background: #663FD7;
    border-radius: 5px;
    transition: .2s;
}

/* footer */
.footer{
    margin-top: 140px;
    min-height: 76px;
}
.wrapper_inside_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 76px;
    border-top: 1px solid #DBE4EC;
}
.wrapper_about_low_and_about_us{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 497px;
}
.all_rights_reserved{
    font-weight: 400;
    font-size: 16px;
    color: #464D54;
}
.about_as_third_items{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 156px;
    padding: 0;
}
.third_child{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #464D54;
    text-decoration-line: underline;
    transition: .2s;
}

.social_network{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 148px;
}

/* hover change_icons_color */

.change_icons_color{
    fill: #CDD5EB;
    transition: .2s;
}

.change_icons_color:hover{
    fill: #7F5AF0;
    transition: .2s;
}
